<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726499534665-d4nubjl48r8465bn4kslbi9kt1eq464c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726499534665-d4nubjl48r8465bn4kslbi9kt1eq464c</string>
	<key>API_KEY</key>
	<string>AIzaSyCS3Ke4H9OIAQ0kAt-VeAIb8RlkQky7o4M</string>
	<key>GCM_SENDER_ID</key>
	<string>726499534665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.everis.Appfrases</string>
	<key>PROJECT_ID</key>
	<string>hdyfapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hdyfapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726499534665:ios:d8974be1a722557d291c98</string>
</dict>
</plist>